<div
  class="sidebar{{ with .Site.Params.doNotLoadAnimations }}
    .
  {{ else }}
    animated fadeInDown
  {{ end }}"
>
  <div class="sidebar__content">
    <div class="sidebar__introduction">
      <img
        class="sidebar__introduction-profileimage"
        src="{{ .Site.Params.profilePicture | relURL }}"
        alt="profile picture"
      />
      {{ if .IsHome }}
        <div class="sidebar__introduction-title">
          <h1>
            <a href="{{ .Site.BaseURL | relLangURL }}">{{ .Site.Params.Title }}</a>
          </h1>
        </div>
      {{ else }}
        <div class="sidebar__introduction-title">
          <a href="{{ .Site.BaseURL | relLangURL }}">{{ .Site.Params.Title }}</a>
        </div>
      {{ end }}
      <div class="sidebar__introduction-description">
        <p>{{ replace .Site.Params.description "\n" "<br />" | safeHTML }}</p>
      </div>
    </div>
    <ul class="sidebar__list">
      {{ range $item := .Site.Params.socialIcons }}
        <li class="sidebar__list-item">
          <a
            href="{{ $item.url }}"
            target="_blank"
            rel="noopener me"
            aria-label="{{ $item.title }}"
            title="{{ $item.title }}"
          >
            <i class="{{ $item.icon }} fa-2x" aria-hidden="true"></i>
          </a>
        </li>
      {{ end }}
    </ul>
    {{/*  <div class="sidebar__categories">
      <ul class="category-list">
        {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
          <li>
            <span>
              <a href="{{ "categories/" | relURL }}{{ $name | urlize }}" class="category">
                {{ $name }}   <span class="category-count">({{ len $taxonomy }})</span>
              </a>
  
            </span>
          </li>
        {{ end }}
      </ul>
    </div>  */}}
    <!-- Most Used Categories -->
    {{ if .Site.Params.sidebarCategories }}
    <h3 style="text-align: center;">Categories</h3>
    <div class="sidebar__categories">
        <ul class="category-list">
        {{ range first 10 (sort .Site.Taxonomies.categories.ByCount "Count" "desc") }}
            <li>
            <a href="{{ .Page.Permalink | relURL }}" class="category">
                {{ .Name }} <span class="category-count">({{ .Count }})</span>
            </a>
            </li>
        {{ end }}
        </ul>
    </div>
    {{ end }}
  </div>
  {{- partial "footer.html" (dict "context" . "footerClassModifier" "sidebar") -}}
</div>
